<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.mapper.UserMapper">
	
	<!-- <select id="findAll" resultType="User">
		select * from user
	</select> -->
	<!-- 用户入库操作 -->
	<insert id="insertUser">
		insert into user(id,name,age,sex)
		values(null,#{name},#{age},#{sex})
	</insert>




</mapper>